[run]
omit =
	# ignore manage.py
	manage.py
	# omit tests themselves
	*/tests/*
	# omit migrations
	*/migrations/*
	# omit spongeauth (config directory)
	spongeauth/*
	# omit apps.py
	*/apps.py
branch = True
