{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Sponge Authentication Portal" %}{% endblock %}
{% block main %}
<div class="container top-level">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">{% trans "Sponge Authentication Portal" %}</h4>
                </div>

                <div class="panel-body">
                    <p>{% blocktrans with username=request.user.username %}You are currently logged in as <strong>{{ username }}</strong>.{% endblocktrans %}</p>
                    

                    <ul class="list-group list-group-home">
                        <a href="https://spongepowered.org#downloads" class="list-group-item">
                            <span>{% trans "Download Sponge" %}</span>
                            <i class="fa fa-download"></i>
                            <div class="clearfix"></div>
                        </a>
                        <a href="https://forums.spongepowered.org" class="list-group-item">
                            <span>{% trans "Visit the forums" %}</span>
                            <i class="fa fa-comment"></i>
                            <div class="clearfix"></div>
                        </a>
                        <a href="https://ore.spongepowered.org" class="list-group-item">
                            <span>{% trans "Browse plugins" %}</span>
                            <i class="fa fa-plug"></i>
                            <div class="clearfix"></div>
                        </a>
                        <a href="https://ore.spongepowered.org/new" class="list-group-item">
                            <span>{% trans "Upload a plugin" %}</span>
                            <i class="fa fa-upload"></i>
                            <div class="clearfix"></div>
                        </a>
                        <a href="{% url 'accounts:profile' %}" class="list-group-item">
                            <span>{% trans "Manage account" %}</span>
                            <i class="fa fa-cog"></i>
                            <div class="clearfix"></div>
                        </a>
                    </ul>

                    <form action="{% url 'accounts:logout' %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary pull-right" value="{% trans "Log out" %}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
