{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Reset your password" %}{% endblock %}
{% block main %}
<div class="container top-level">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default panel-signup">
				<div class="panel-heading">
                    <h4 class="panel-title">{% trans "Reset your password" %}</h4>
				</div>

				<div class="panel-body">
                    <p>{% blocktrans with email=email %}Got it! An email has been sent to <strong>{{ email }}</strong> with a link to reset your password, and you should receive it shortly.{% endblocktrans %}</p>
				</div><!-- .panel-body -->
			</div><!-- .panel -->
		</div><!-- .col-md-6 -->
	</div><!-- .row -->
</div><!-- .container -->
{% endblock main %}
